NAME
	Shadowchaser rules

DESCRIPTION

	No triggers.
	No multiplaying.
	Register multiple characters.
	Report bugs for reward, hide bugs for character deletion.
	Don't go overboard on insulting/harrassing someone about
		their real life situations.
	Respect the admins and coders who work hard here.
	Have fun, and remember Tamarindo can rid you at anytime...
	respect the game and the rules and you can play here.

SEE ALSO
	email, multiple-char
