             <<<<<------- Thief Guild Rules ------->>>>>
 
 
        1. Thou shalt not reveal information about a thief brother
           or sister to any non-thief.
        2. Thou shalt not harass, attack, kill or steal from another
           Thief. (Player houses are an exception if the thief in 
                   question rooms with a non-thief, excluding spouse)
        3. Thou shalt not cheat! 
        4. Thou shalt not use bugs to train skills .. see rule #3
        5. Thou shalt not protect a non-thief from a fellow guild member
           unless the situation is difficult.
        
 
        Follow these 5 simples rules and you will flourish.  More rules
        will be added at a later date.  
 
        One of the most important laws to live by is
 
                        'HONOUR AMONGST THIEVES'
                                -------
            Rule 6.  Be truely thieven by ignoring all rules.
                             A N A R C H Y ! !
