TOPIC
	control - Rules about monster controlling

RULES (beta)

	1. No monster controlling below senior coder level, except with
	   a permission and supervision from an (co-)admin.

	2. Senior Coders can control monsters if (s)he has another coder
	   as a witness. Coders of less than full coder level (100) won't
	   get permission to control monsters except in special cases.

	3. Co-admins, and possibly other trusted coders, should know
	   what they do, and thus they can control monsters.

	4. Automatic events a la The Spanish Inquisition (which nobody
	   expects, of course) can be started if they are approved and
	   placed in /areas/... ? Automatic events should not be run
	   too often. If you want to code an automatic event, it should
	   be coded with the same procedure as areas.

	5. You can of course test monster control with monsters and
	   areas that are not open to players. Never get players to
	   test things, use a testchar.

SEE ALSO
	coder_law, guildcoders, promotion
